html{
    height: 100%;

}
body{
    height: 100%;
    background:  #33FFF6 ;
    background: rgb(58,87,180);
background: linear-gradient(90deg, rgba(58,87,180,1) 13%, rgba(255,35,35,1) 50%, rgba(252,249,69,1) 84%);
}