html{
    background-color: pink;
    padding: 10px;
}
body{
    background-color: antiquewhite;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    position: relative;
    height: 200vh;
}
header{
    background-color: brown;
    margin: 10px;
}
nav{
    background-color: blueviolet;
    margin: 10px;
  /*  position: relative;
    left: 20px;
    
*/top: 10px;
position: fixed;
}
footer{
    background-color: aqua;
    margin: 10px;
}