*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
}
header,
aside,
main,
footer{
    padding: 16px;
    text-align: center;
}
header{
    background: #E190ED;
    grid-template-rows: 60px;
}
aside{
    background: #e35c8b;
    grid-template-rows: auto;
}
footer{
    background: black;
    grid-template-rows: auto;
}
.navigation-item{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navigation-item a {
   text-decoration: none;
   color: white; 
}
.navigation-item a:hover,
.navigation-item a:active{
    color: #fa923f;
}
.navigation-item{
margin: 0 10px;
}